# Data Science Tools and Ecosystem

## Author
Mukundan V S
_________________________________________________________________________________

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List frequently used libraries
* List Data Science tools
* Demonstrate Arithmetic operations in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. scikit-learn

|Data Science Tools|
|------------------|
|Apache Spark|
|MySQL|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335